div{
  font-family: 'Open Sans', sans-serif;
}
.board{
  background-color: rgb(180,180,180);
  height: 500px;
}
.column{
  border-radius: 3px;
  background-color: rgb(255,255,255);
  height: 450px;
  width: 200px;
  margin-left: 10px;
  float: left;
}
ul{
  padding: 0;
  margin: 0;
}